// base
@import "base/base";
@import "base/mixins";
@import "base/keyframes";
@import "base/variables";
@import "global/global";

//page components
@import "blocks/common/header";
@import "pages/blog2/main";
@import "pages/blog2/sidebar";
@import "pages/blog2/aside";
@import "blocks/join";
@import "blocks/common/footer";
@import "blocks/common/modal";