// base
@import "base/base";
@import "base/mixins";
@import "base/keyframes";
@import "base/variables";
@import "global/global";

//page components
@import "blocks/common/header";
@import "blocks/accordion";
@import "pages/faq/main";
@import "blocks/feedback";
@import "blocks/common/footer";
@import "blocks/common/modal";