// base
@import "base/base";
@import "base/mixins";
@import "base/keyframes";
@import "base/variables";
@import "global/global";

//page components
@import "blocks/common/header";
@import "pages/index/hero";
@import "blocks/common/services-list";
@import "pages/index/services";
@import "pages/index/about";
@import "pages/index/chart";
@import "blocks/accordion";
@import "pages/index/faq";
@import "blocks/join";
@import "pages/index/join";
@import "blocks/testimonials";
@import "pages/index/testimonials";
@import "blocks/feedback";
@import "blocks/common/footer";
@import "blocks/common/modal";