// base
@import "base/base";
@import "base/mixins";
@import "base/keyframes";
@import "base/variables";
@import "global/global";

//page components
@import "blocks/common/header";
@import "pages/index2/header";
@import "pages/index2/about";
@import "pages/index2/features";
@import "pages/index2/video";
@import "blocks/challenges";
@import "pages/index2/challenges";
@import "blocks/join";
@import "pages/index2/join";
@import "blocks/testimonials";
@import "pages/index2/testimonials";
@import "blocks/common/footer";
@import "blocks/common/modal";