// AOS styles
@import "aos/dist/aos";

// swiper core styles
@import "swiper/swiper.min";

// swiper fade effect
@import "swiper/modules/effect-fade";

// swiper coverflow effect
@import "swiper/modules/effect-coverflow";

// sweetalert styles
@import "libs/sweetalert";

// baguettebox styles
@import "baguettebox.js/dist/baguetteBox.min";

// bootstrap grid
@import "bootstrap/dist/css/bootstrap-grid";
