// base
@import "base/base";
@import "base/mixins";
@import "base/keyframes";
@import "base/variables";
@import "global/global";

//page components
@import "blocks/common/header";
@import "pages/post/article";
@import "pages/post/navigation";
@import "pages/post/author";
@import "pages/post/comments";
@import "blocks/recent";
@import "blocks/common/footer";
@import "blocks/common/modal";