// base
@import "base/base";
@import "base/mixins";
@import "base/keyframes";
@import "base/variables";
@import "global/global";

//page components
@import "blocks/common/header";
@import "pages/prices/header";
@import "pages/prices/pricing";
@import "blocks/challenges";
@import "pages/prices/challenges";
@import "pages/prices/model";
@import "blocks/common/services-list";
@import "pages/prices/services";
@import "blocks/common/footer";
@import "blocks/common/modal";