// base
@import "base/base";
@import "base/mixins";
@import "base/keyframes";
@import "base/variables";
@import "global/global";

//page components
@import "blocks/common/header";
@import "pages/service/header";
@import "pages/service/about";
@import "pages/service/app";
@import "pages/service/features";
@import "blocks/join";
@import "pages/service/join";
@import "blocks/common/footer";
@import "blocks/common/modal";