// about section

.about {
    padding: 60px 0;

    .container {
        max-width: 1600px;
    }

    &_media {
        height: 340px;
        margin-bottom: 40px;

        img {
            height: 100%;
        }
    }

    &_main {
        &-list {
            gap: 20px 0;
            margin-top: 20px;

            &_item {
                display: flex;

                .number {
                    background: $accent;
                    font-size: 14px;
                    width: 30px;
                    height: 50px;
                    margin-right: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-family: $headerFont;
                    color: $headerColor;
                }

                .main {
                    width: calc(100% - 50px);

                    &_title {
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
}

// media queries

@media screen and (min-width: 767.98px) {
    .about {
        padding: 100px 0;

        &_media {
            height: 480px;
        }
    }
}

@media screen and (min-width: 991.98px) {
    .about {
        padding: 120px 0;

        &_main {
            &-list {
                gap: 0 60px;
                margin-top: 50px;
            }
        }
    }
}

@media screen and (min-width: 1199.98px) {
    .about {
        .container {
            padding: 0 20px;
        }

        &_media {
            max-width: 460px;
            width: 100%;
            margin-bottom: 0;
            margin-right: 40px;
        }

        &_main {
            max-width: calc(100% - 500px);

            &-list {
                &_item {
                    &:last-of-type {
                        margin-top: 100px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1399.98px) {
    .about {
        &_media {
            max-width: 660px;
        }

        &_main {
            max-width: calc(100% - 700px);

            &-list {
                &_item {
                    max-width: 300px;
                }
            }
        }
    }
}