// challenges section

.challenges {
    background: $primary;
    color: #fff;

    &_header {
        &-title {
            color: #fff;
        }
    }

    &_list {
        &-item {
            .title {
                color: #fff;
            }

            .separator {
                background: #fff;
            }
        }
    }
}

// media queries

@media screen and (min-width: 1399.98px) {
    .challenges {
        &_shapes {
            .half {
                &--right {
                    .circle {
                        &--big {
                            width: 142px;
                            height: 142px;
                            background: #fff;
                            border: 1px solid $headerColor;
                            top: 70px;
                            right: -71px;
                        }
                        &--small {
                            width: 50px;
                            height: 50px;
                            border: 1px solid #fff;
                            bottom: 292px;
                            right: 121px;
                        }
                    }
                }

                &--left {
                    .circle {
                        &--big {
                            width: 175px;
                            height: 175px;
                            border: 1px solid #fff;
                            top: -80px;
                            left: 100px;
                        }
                        &--small {
                            width: 34px;
                            height: 34px;
                            background: #fff;
                            border: 1px solid $headerColor;
                            bottom: 135px;
                            left: 170px;
                        }
                    }
                }
            }
        }
    }
}