// join section

// media queries

@media screen and (min-width: 1199.98px) {
    .join {
        &_media {
            * {
                width: auto;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                z-index: -1;
            }

            &-left {
                max-height: 485px;
                left: -350px;
            }

            &-right {
                max-height: 506px;
                right: -250px;
            }
        }
    }
}

@media screen and (min-width: 1599.98px) {
    .join {
        &_media {
            &-left {
                left: -245px;
            }

            &-right {
                right: -185px;
            }
        }
    }
}