// video section

.video {
    box-shadow: none;
    &_header {
        margin-bottom: 60px;
    }
    &_content {
        height: 400px;
        box-shadow: none;
    }
}

// media queries

@media screen and (min-width: 767.98px) {
    .video {
        &_header {
            text-align: center;
            max-width: 915px;
            margin: 0 auto 80px;
        }
        &_content {
            height: 580px;
        }
    }
}