// FAQ page main content

.page {
    padding: 20px 0 60px;

    &_title {
        color: $primary;
    }

    .wrapper {
        position: relative;
        margin-top: 93px;

        &:before {
            content: '';
            @include caret;
            top: -43px;
            left: 0;
        }
    }
}

// media queries

@media screen and (min-width: 767.98px) {
    .page {
        padding: 20px 0 70px;

        .wrapper {
            margin-top: 113px;
            &:before {
                top: -63px;
            }
        }
    }
}