// FAQ section

.faq {
    padding-top: 60px;

    .accordion {
        background: $lightgray;
        padding: 30px;
        box-shadow: $shadow;
        border: $border;
        border-radius: 2px;

        &_item:last-of-type {
            border-bottom: 0;

            .title {
                padding-bottom: 0;
            }
        }
    }
}

// media queries

@media screen and (min-width: 575.98px) {
    .faq {
        .accordion {
            padding: 40px;
        }
    }
}

@media screen and (min-width: 767.98px) {
    .faq {
        padding: 0;
        .accordion {
            margin-top: -50px;
            position: relative;
            z-index: 3;
        }
    }
}

@media screen and (min-width: 991.98px) {
    .faq {
        .accordion {
            padding: 40px 60px;
        }
    }
}