// services section

.services {
    padding: 30px 0 60px;

    &_shape {
        display: none;
    }

    &_list {
        display: flex;
        flex-direction: column;
        gap: 30px 0;
        margin-bottom: 60px;
    }
}

// media queries

@media screen and (min-width: 767.98px) {
    .services {
        padding: 50px 0;

        &_list {
            flex-direction: row;
            flex-wrap: wrap;
            gap: 30px;
            margin-bottom: 60px;

            .wrapper {
                width: calc(50% - 25px);
            }

            &-item {
                height: 100%;
            }
        }

        &_media {
            img {
                max-width: 50%;
            }
        }
    }
}

@media screen and (min-width: 991.98px) {
    .services {
        padding: 50px 0 120px;
    }
}

@media screen and (min-width: 1199.98px) {
    .services {
        padding: 140px 0 120px;

        &_media {
            flex-grow: 1;

            img {
                position: absolute;
                max-height: 570px;
                width: auto;
                height: 100%;
                left: -20%;
                max-width: unset;
            }
        }

        &_list {
            max-width: 700px;
            gap: 50px;
            margin-bottom: 0;

            .wrapper {
                width: calc(50% - 30px);

                &:first-of-type, &:nth-of-type(3) {
                    margin-top: -70px;
                }
            }

            &-item {
                height: unset;
            }
        }
    }
}

@media screen and (min-width: 1399.98px) {
    .services {
        position: relative;

        &_shape {
            display: block;
            position: absolute;
            max-height: 930px;
            width: auto;
            right: -20%;
            top: -100px;
        }

        &_media {
            position: relative;

            img {
                max-height: 670px;
                left: unset;
                right: 150px;
            }
        }
    }
}