// testimonials section

.testimonials {
    background: $primary;
    color: #fff;
    padding: 60px 0;

    .stripe {
        border-top: 1px solid #CFCFFB;
        border-bottom: 1px solid #CFCFFB;
    }

    &_header {
        color: #fff;
    }
}

// media queries

@media screen and (min-width: 767.98px) {
    .testimonials {
        padding: 80px 0;
    }
}

@media screen and (min-width: 991.98px) {
    .testimonials {
        padding: 120px 0 120px 20px;
        .stripe {
            margin-left: -20px;
        }
    }
}