// post author

.author {
    text-align: center;
    margin-bottom: 60px;

    &_avatar {
        width: 136px;
        height: 136px;
        display: block;
        border-radius: 50%;
        overflow: hidden;
        margin-bottom: 10px;
        border: 1px solid $headerColor;
        box-shadow: $shadow;
    }

    .socials {
        justify-content: center;
        margin: 10px 0;
    }
}

// media queries

@media screen and (min-width: 575.98px) {
    .author {
        text-align: left;

        &_avatar {
            margin-bottom: 0;
            margin-right: 30px;
        }

        &_info {
            &-panel {
                margin-bottom: 10px;
            }

            .socials {
                margin: 0;
            }
        }
    }
}

@media screen and (min-width: 767.98px) {
    .author {
        margin-bottom: 100px;
    }
}

@media screen and (min-width: 991.98px) {
    .author {
        margin-bottom: 120px;
    }
}