// services list common styles

.services {
    &_list {
        &-item {
            background: $lightgray;
            padding: 30px;
            border-radius: 2px;
            border: $border;
            gap: 10px 0;
            overflow: visible;
            position: relative;

            &:after {
                content: '';
                width: calc(100% + 4px);
                height: calc(100% + 2px);
                position: absolute;
                top: -1px;
                left: -3px;
                box-shadow: $shadow;
                z-index: 1;
                transition: opacity .3s ease-in-out;
                opacity: 0;
            }

            .icon {
                color: $primary;
                font-size: 32px;
            }

            &:hover, &:focus {
                background: #fff;
                &:after {
                    opacity: 1;
                }
            }
        }
    }
}

// media queries