// page 404 main content

.error {
    min-height: 100vh;
    &_content {
        padding-top: 60px;
    }
    &_btn {
        width: 100%;
        margin-bottom: 40px;
    }
}

// media queries

@media screen and (min-width: 575.98px) {
    .error {
        &_btn {
            width: 225px;
            margin-bottom: 0;
        }
        &_media {
            position: relative;
            top: -80px;
            max-height: 1080px;
            height: 100%;
            width: auto;
            z-index: -1;
        }
    }
}

@media screen and (min-width: 991.98px) {
    .error {
        height: 100vh;
        overflow: hidden;
    }
}