@mixin font-face($name, $file, $weight, $style: normal) {
    @font-face {
        font-family: "#{$name}";
        src: local("#{$file}"),
        url('../fonts/#{$file}.woff2') format('woff2'),
        url('../fonts/#{$file}.woff') format('woff');
        font-weight: $weight;
        font-style: $style;
        font-display: swap;
    }
}

@mixin neonEl() {
    background: $accent;
    color: $headerColor;
    border: $border;
    box-shadow: 3px 3px 0 $accent;
    border-radius: 2px;
    &:hover, &:focus {
        box-shadow: 6px 6px 0 $headerColor;
    }
}

@mixin caret() {
    position: absolute;
    background: $accent;
    width: 22px;
    height: 13px;
    animation: blink 0.9s infinite both;
}