// text
$bodyFont: "Open Sans", sans-serif;
$bodyText: #28313D;
$headerFont: "Roboto Mono", monospace;
$headerColor: #1B2129;

// template colors
$primary: #2A2AFF;
$accent: #4BFF2A;
$lightgray: #F8F8FF;

// effects
$shadow: 3px 3px 0 $accent;
$border: 1px solid $headerColor;