// features section

.features {
    padding: 60px 0;
    &_media {
        background: linear-gradient(0deg, #4BFF2A, #4BFF2A), url('../img/placeholder.jpg') no-repeat center / cover;
        background-blend-mode: darken, normal;
        height: 320px;
        margin-bottom: 10px;
    }
    &_main {
        &-text {
            margin: 10px 0 30px;
        }
    }
}

// media queries

@media screen and (min-width: 575.98px) {
    .features {
        &_main {
            &-btn {
                width: 165px;
            }
        }
    }
}

@media screen and (min-width: 767.98px) {
    .features {
        padding: 100px 0;
    }
}

@media screen and (min-width: 991.98px) {
    .features {
        padding: 120px 0;
        &_media {
            max-width: 475px;
            width: 100%;
            margin-bottom: 0;
            margin-right: 30px;
        }
        &_main {
            margin-top: -10px;
            &-title, &-text {
                max-width: 570px;
            }
        }
    }
}

@media screen and (min-width: 1199.98px) {
    .features {
        &_media {
            margin-right: 60px;
        }
    }
}