// page header

.page {
    background: url('../img/service/bg.jpg') no-repeat center / cover, #2A2AFF;
    background-blend-mode: multiply, lighten;
    padding: 20px 0 60px;
    color: #fff;

    &_media, &_animation {
        display: none;
    }

    &_main {
        .wrapper {
            position: relative;
            margin-bottom: 30px;
        }

        &-subtitle, &-title {
            color: #fff;
        }

        &-subtitle {
            position: relative;
            margin: 30px 0 10px;
            padding-top: 43px;

            &:before {
                content: '';
                @include caret;
                top: 0;
                left: 0;
            }
        }

        &-action {
            gap: 20px 0;
        }
    }
}

// media queries

@media screen and (min-width: 575.98px) {
    .page {
        &_main {
            &-action {
                gap: 0 30px;

                .btn--neon {
                    width: 130px;
                }

                .btn--white {
                    width: 215px;
                }
            }
        }
    }
}

@media screen and (min-width: 767.98px) {
    .page {
        padding: 20px 0 100px;
        position: relative;
        &_animation {
            display: block;
            position: absolute;
            bottom: -65px;
        }

        &_main {
            .wrapper {
                margin-bottom: 40px;
            }
        }
    }
}

@media screen and (min-width: 991.98px) {
    .page {
        padding: 20px 0 120px;
        &_animation {
            bottom: -90px;
        }

        &_main {
            &-subtitle {
                margin-top: 50px;
                padding-top: 80px;
            }
        }
    }
}

@media screen and (min-width: 1199.98px) {
    .page {
        .container {
            position: relative;
        }

        &_media {
            display: block;
            position: absolute;
            right: 0;
            top: 50px;

            &-img {
                max-height: 540px;
            }
        }

        &_main {
            max-width: 750px;
        }
    }
}

@media screen and (min-width: 1399.98px) {
    .page {
        &_media {
            right: -100px;
        }
    }
}

@media screen and (min-width: 1799.98px) {
    .page {
        &_media {
            right: -250px;
        }
    }
}